
<% if @bike_data["bike"]["stolen"] %>
<h1><%= @bike_data["bike"]["title"]%> is <span style="color: red;">Stolen</span></h1>
<p><b>Go to <a href="https://bikeindex.org/bikes/<%= @bike_data["bike"]["id"] %>">this link</a> for more details.</b></p>
<% else %>
<h1><%= @bike_data["bike"]["title"]%> is <span class="verified">Verified</span></h1>
<p>
This means you can purchase this bike with confidence knowing the legitimate owner has taken the time to register and use this service to verify it's authenticity. Please ensure the information below matches the information in the online marketplace listing that brought you here.
</p>
<% end %>
<hr/>
<p id="bike_details"><center>
Year: <b><%= @bike_data["bike"]["year"]%></b>, 
Manufacturer: <b><%= @bike_data["bike"]["manufacturer_name"]%></b>, 
Model: <b><%= @bike_data["bike"]["frame_model"]%></b>, 
Colors: <b><%= @bike_data["bike"]["frame_colors"].join(",")%></b>
</center>
<br/><img src="/bikes/image/<%=@bike.id%>"><br/>
</p>

<% if current_user and @bike.user == current_user %>
<div id="ownerbox">
<h4>Online Listing Resources</h4>
<p>
<i>Because you are signed in to Verified Bike as this bike's owner, only you can see this box.</i> Below is suggested information for you to put in your marketplace postings.<br/>

<% title_text = @bike_data["bike"]["year"].to_s + " " + @bike_data["bike"]["manufacturer_name"].to_s + " " + @bike_data["bike"]["frame_model"].to_s + " *VERIFIED*" %><br/>

<b>Watermarked Photo:</b> 
<form method="get" action="<%= "/bikes/image/#{@bike.id}" %>">
<button type="submit" class="btn btn-info">
    Download Photo
</button>
</form>

<br/>

<b>Listing Title:</b><br/>
<input type="text" id="listing-title" class="copypaste" style="width: 100%;" value="<%= title_text %>" readonly><br/>
<button class="btn btn-info btn-copypaste" data-clipboard-target="#listing-title">
    Copy Title Text
</button>
<br clear="both"/>

<b>Listing Body:</b><br/>
<textarea class="copypaste" id="listing-body" style="width: 100%; height: 300px" readonly>
<%= title_text %>
VERIFIED CODE: <%= @bike.hash_code %>
<%= @bike_data["bike"]["description"] if !@bike_data["bike"]["description"].empty? %>

This is a verified bike. Please ensure this ad matches this bike by going here: https://verified.bike/bikes/<%= @bike.hash_code %> or entering the code <%= @bike.hash_code %> at https://verified.bike
</textarea><br/>
<button class="btn btn-info btn-copypaste" data-clipboard-target="#listing-body">
    Copy Listing Text
</button>
<br clear="both"/>
<i>Note that some marketplaces like Craigslists don't allow the links to be clickable.</i>
</p>
<hr>
<%= button_to "Un-Verfiy This Bike", bike_path(@bike), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure? You can always re-verify.' } %>
</div>
<% end %>

<p>
<pre style="display: none;">
  <%# @bike_data["bike"].to_yaml %>
</pre>
</p>




